<!-- modals/import-csv.mustache -->
<template id="import-csv-modal">
    <form id="import-session-form">
        <p>
            Vous pouvez importer une liste de sessions à créer en important un fichier CSV.
            <a href="https://edusign.app/school/csv-template" target="_blank">Télécharger le modèle de fichier CSV</a>
        </p>
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Import</button>
    </form>
</template>